
@{
    ViewBag.Title = "AddSubject";
}

<h2>Add Course</h2>

<form action="" method="post">
    Name : <input type="text" name="Name" class="form-control" />
    Details   : <input type="text" name="Details" class="form-control" />
    Price  : <input type="text" name="Price" value="" class="form-control" />
    Student Capacity  : <input type="text" name="StudentCapacity" value="" class="form-control" />
                        <br />
    <input type="submit" value="Add" class="btn btn-success" />
</form>
